# Dependencias
node_modules/
backend/node_modules/

# Logs
*.log
npm-debug.log*

# Variables de entorno
.env
.env.local

# Sistema
.DS_Store
Thumbs.db

# Editores
.vscode/
.idea/

# Vercel
.vercel
.claude
.gitignore